@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 0, 0, 0;
  --secondary: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: 0, 0, 0;
    --primary: 255, 255, 255;
  }
}

body {
  background: rgb(var(--secondary));
  color: rgb(var(--primary));
}
