@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --foreground: 0, 0, 0;
  --algorandBlue: 45, 45, 241;
  --algorandTeal: 23, 202, 198;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0, 0, 0; /* Algorand dark background is 0, 19, 36; */
    --foreground: 255, 255, 255;
  }
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}
